$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$border-color: #ced4da;
$blue: #0055a4;
$white: #ffffff;
$red: #ef4135;

 .kv_variousfilterButton{
    border-radius: 20px;
    cursor: pointer;
 }
 body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    background-image: url('https://wallpaperbat.com/img/8619726-paris-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#map {
    width: 70%;
    height: 400px;
    margin-bottom: 20px;
    float:right;
    position:relative;
    right:50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    width: 300px;
    position: relative;
    bottom:390px;
    background: linear-gradient(to right, $blue, $white, $red);

    input[type="text"], input[type="end"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        border-radius: 20px;
        border:black solid 1.2px;
    }

    #kv_submitButton {
        width: 100%;
        padding: 10px;
        border: none;
        background:  $blue;
        color: black;
        cursor: pointer;
        font-family:'Parisienne',cursive;
        font-weight: bold;
        &:hover {
            background: rgb(16, 85, 211);
        }
    }
}

.kv_formDiv{
    height: 100px;
    width:200px;
    position:absolute;
    left:50px;
    top:800px;
}


#kv_Direction{
    background-color: #f91391;
    
}

#kv_showDirection{
    background-color:#007bff;
    position:relative;
    bottom: -300px;
    left:100px;
    width:100px;
    cursor: pointer;
    border-radius: 20px;
    font-family:'Parisienne',cursive;
    font-weight: bold;
}
.kv_currencyOption {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    position: absolute;
    bottom:350px;
    left: 900px;
    flex-direction: column;
    label {
      margin: 0 10px;
      color: black;
      font-weight: bold;
    }
    
    select {
      padding: 8px;
      border: 1px solid $border-color;
      border-radius: 5px;
      background-color: $background-color;
      color: $primary-color;
      font-size: 16px;
      cursor: pointer;
      width: 100px;
    }
    
    input[type="text"],input[type='number'] {
      padding: 8px;
      border: 1px solid $border-color;
      border-radius: 5px;
      background-color: $background-color;
      color: $primary-color;
      font-size: 16px;
      width: 100px;
    }
  }
  #kv_button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $primary-color;
    color: white;
    font-size: 16px;
    cursor: pointer;
    
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
  .kv_infoFrance {
    width: 900px;
    #kv_para {
        color: $blue; 
        background-color: $white; 
        padding: 20px; 
        
        
        border: 2px solid $red;
        border-radius: 5px; 
        
       
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        margin: 20px 0;
    }
}
#kv_parentElementId{
    height: 20px;
    width:800px;
    position: absolute;
    bottom: 320px;
    left:870px;
}

.kv_variousfilterButton {
    background-color: #ffffff; 
    border: 1px solid #cccccc; 
    color: #333333;
    padding: 8px 16px; 
    margin: 2px; 
    font-size: 14px; 
    cursor: pointer;   
    &:hover {
        background-color: #f0f0f0; 
    }
}

#kv_Res {
    background-color: #ffcc80;
    &:hover {
        background-color: #ffa726; 
    }
}

#kv_Mus {
    background-color: #90caf9; 
    &:hover {
        background-color: #64b5f6; 
    }
}

#kv_Amu {
    background-color: #a5d6a7; 
    &:hover {
        background-color: #81c784; 
    }
}

#kv_Oly {
    background-color: #b39ddb; 
    &:hover {
        background-color: #9575cd; 
    }
}

#kv_All {
    background-color: #eeeeee; 
    &:hover {
        background-color: #cccccc; 
    }
}
#kv_travellOptions{
    
        background-color: #ffffff; 
        border: 1px solid #cccccc; 
        color: #333333; 
        padding: 8px 16px; 
        font-size: 14px; 
        cursor: pointer; 
        outline: none;
        width: 100%; 
        margin-top: 5px; 
        margin-bottom: 7px;
        option {
            background-color: #ffffff; 
            color: #333333; 
        }
}

$primary-color: #007bff; 

.kv_langClass{
    position: absolute;
    bottom:650px;
    left:1150px;
}
#kv_langButton {
  background-color: $primary-color;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left:210px;
  top:2px;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
#kv_lanOptions {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  width: 200px; 
}
#kv_lanOptions option {
  padding: 8px;
  font-size: 16px;

  &:hover {
    background-color: #f0f0f0;
  }
}
#kv_h1{
    
        font-size: 2em;
        text-align: center;
        padding: 20px;
        background: linear-gradient(to right, $blue, $white, $red);
        font-family:'Parisienne',cursive;
        font-weight: bold;
      
}
.kv_transitdifferentOptions{
    display: flex;
    flex-direction: row;
    padding-bottom: 4px;
}
//PORTRAIT MODES
@media screen and (max-width: 500px)and (orientation: portrait) {
    body {
        background-size: cover;
        background-image: none;
    }
    #map {
        width:50%;
        float: left;
    }
    #kv_parentElementId{
        display: flex;
        flex-direction: column-reverse;
        position:relative;
        top:580px;
        left:-230px;
        width: 100px;
    }
    .kv_infoFrance{
        display: none;
    }
    form {
        width: 90%;
        position:relative;
        left:100px;
        bottom: 370px;
    }
    #kv_showDirection{
       display:none;
    }
    .kv_langClass {
        position: relative;
        top:-300px;
        left:-50px;
        margin-left: -30px;
    }
   #kv_langButton{
    position:absolute;
     top:40px;
     left:270px;
     width:50px;
   }
    .kv_currencyOption{
        position: relative;
        left:-70px;
        bottom:-100px;
    }
}
@media screen and (min-width: 500px) and (max-width: 1000px)and (orientation: portrait) {
    body{
        background-image: none;
    }
    .kv_infoFrance{
       display:none;
    }
    #map {
        position: absolute;
        top:-200px;
        width: 100%;
    }
    .kv_langClass {
        left: 70%;
    }
    .kv_formDiv{
        position:absolute;
        left: 30px;
    }
    form{
        position: relative;
        top:-500px;
        width: 200px;
    }
    #kv_parentElementId{
        position: relative;
        top: 500px;;
        left: 10px;
    }
    .kv_currencyOption{
        position: relative;
        bottom: -250px;
        left:200px;
    }
    .kv_langClass{
        position: relative;
        top:-120px;
        left:100px;
    }
    #kv_langButton{
        position: absolute;
        top:3px;
        left:210px;
    }
    
}
@media screen and (min-width: 1000px) and (orientation: portrait) {
    form {
        position: relative ;
        bottom: 400px;
        padding: 20px;
    }
    #map{
        position:relative;
        left:100px;
    }
    .kv_langClass {
        position: absolute;
        top:200px;
    }
    .kv_currencyOption{
        position: absolute;
        right:-490px;
    }
    #kv_parentElementId{
        position: relative;
        top:-100px;
        left:600px;
    }

}

//LANDSCAPES MODES
//done
@media screen and (max-width: 500px)and (orientation: landscape) {
    body {
        background-size: cover;
        background-image: none;
    }
    
    #map {
        width:50%;
        float: left;
    }
    #kv_parentElementId{
        display: flex;
        flex-direction: column-reverse;
        position:relative;
        top:600px;
        left:-250px;
        width: 100px;
    }
    .kv_infoFrance{
        position: absolute;
        top: 700px;
        width: 400px;;
    }
    form {
        width: 90%;
        position:relative;
        left:50px;
        bottom: 370px;
    }
    #kv_showDirection{
       display:none;
    }
    .kv_langClass {
        position: relative;
        top:-300px;
        left:-50px;
        margin-left: -30px;
    }
   #kv_langButton{
    position:absolute;
     top:1px;
     left:500px;
     width:50px;
   }
    .kv_currencyOption{
        position: relative;
        left:-80px;
        bottom:-100px;
    }
}
//done
@media screen and (min-width: 500px) and (max-width: 1000px)and (orientation: landscape) {
    body{
        background-image: none;
    }
    .kv_infoFrance{
        position: absolute;
        bottom:-800px;
        width: 480px;;
    }
    #map {
        position: absolute;
        top:-200px;
        width: 100%;
    }
    #kv_showDirection{
        display: none;
     }
    .kv_langClass {
        left: 70%;
    }
    .kv_formDiv{
        position:absolute;
        left: 30px;
    }
    form{
        position:relative;
        top:-500px;
        width: 200px;
    }
    #kv_parentElementId{
        position:absolute;
        top: 10px;;
        left: 10px;
    }
    .kv_currencyOption{
        position: relative;
        bottom: -250px;
        left:150px;
    }
    .kv_langClass{
        position: relative;
        top:-70px;
        left:100px;
    }
    
}

@media screen and (min-width: 1000px) and (orientation: landscape) {
    form {
        position: relative;
        bottom: 400px;
        left:-50px;
        padding: 20px;
    }
    #map {
        position: relative;
        left: -30px;
    }
    
    .kv_langClass {
        position: absolute;
        top: 30px;
        left:930px;
    }
    .kv_currencyOption {
        position: absolute;
        left: 900px;
        top: 50px;
    }
    #kv_parentElementId {
        position: relative;
        top: 10px;
        left: 660px;
    }
}
