$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$border-color: #ced4da;

 .kv_variousfilterButton{
    border-radius: 20px;
    cursor: pointer;
 }
 body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    background-image: url('https://wallpaperbat.com/img/8619726-paris-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#map {
    width: 50%;
    height: 400px;
    margin-bottom: 20px;
    float:right;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin: 0 auto;
    width: 300px;

    input[type="text"], input[type="end"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
        border-radius: 20px;
        border:black solid 1.2px;
    }

    #kv_submitButton {
        width: 100%;
        padding: 10px;
        border: none;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #45a049;
        }
    }
}


.filerDiv {
    height: 30px;
    width:600px;
    position: relative;
    left:500px;
    .kv_variousfilterButton {
        margin-bottom: 10px;
        padding: 10px 20px;
        position:relative;
        top:-360px;
        border: none;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: #45a049;
        }
    }
}

.kv_formDiv{
    height: 100px;
    width:200px;
    float: right;
    position:relative;
    right:200px;
    bottom:10px;
}
.kv_travellButton {
        height: 300px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: stretch;

    input[type="checkbox"] {
        display: inline-block;
        margin-bottom: 2px;
        position: relative;
        bottom: -17px;
        cursor: pointer;
    }
}



#Direction{
    width:100%;
    margin:0px;
    margin-top:20px;
    margin-bottom:50px;
}
.kv_currencyOption {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    
    label {
      margin: 0 10px;
      color: red;
      font-weight: bold;
    }
    
    select {
      padding: 8px;
      border: 1px solid $border-color;
      border-radius: 5px;
      background-color: $background-color;
      color: $primary-color;
      font-size: 16px;
      cursor: pointer;
    }
    
    input[type="number"] {
      padding: 8px;
      border: 1px solid $border-color;
      border-radius: 5px;
      background-color: $background-color;
      color: $primary-color;
      font-size: 16px;
    }
  }
  #kv_button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: $primary-color;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }