.kv_variousfilterButton {
  border-radius: 20px;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f4f4f4;
  background-image: url("https://wallpaperbat.com/img/8619726-paris-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#map {
  width: 70%;
  height: 400px;
  margin-bottom: 20px;
  float: right;
  position: relative;
  right: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin: 0 auto;
  width: 300px;
  position: relative;
  bottom: 390px;
  background: linear-gradient(to right, #0055a4, #ffffff, #ef4135);
}
form input[type=text], form input[type=end] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 20px;
  border: black solid 1.2px;
}
form #kv_submitButton {
  width: 100%;
  padding: 10px;
  border: none;
  background: #0055a4;
  color: black;
  cursor: pointer;
  font-family: "Parisienne", cursive;
  font-weight: bold;
}
form #kv_submitButton:hover {
  background: rgb(16, 85, 211);
}

.kv_formDiv {
  height: 100px;
  width: 200px;
  position: absolute;
  left: 50px;
  top: 800px;
}

#kv_showDirection {
  background-color: #007bff;
  position: relative;
  bottom: -300px;
  left: 100px;
  width: 100px;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Parisienne", cursive;
  font-weight: bold;
}

.kv_currencyOption {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  position: absolute;
  bottom: 350px;
  left: 900px;
  flex-direction: column;
}
.kv_currencyOption label {
  margin: 0 10px;
  color: black;
  font-weight: bold;
}
.kv_currencyOption select {
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #007bff;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
}
.kv_currencyOption input[type=text], .kv_currencyOption input[type=number] {
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #007bff;
  font-size: 16px;
  width: 100px;
}

#kv_button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
#kv_button:hover {
  background-color: #0062cc;
}

.kv_infoFrance {
  width: 900px;
}
.kv_infoFrance #kv_para {
  color: #0055a4;
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #ef4135;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 20px 0;
}

#kv_parentElementId {
  height: 20px;
  width: 800px;
  position: absolute;
  bottom: 320px;
  left: 870px;
}

.kv_variousfilterButton {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #333333;
  padding: 8px 16px;
  margin: 2px;
  font-size: 14px;
  cursor: pointer;
}
.kv_variousfilterButton:hover {
  background-color: #f0f0f0;
}

#kv_Res {
  background-color: #ffcc80;
}
#kv_Res:hover {
  background-color: #ffa726;
}

#kv_Mus {
  background-color: #90caf9;
}
#kv_Mus:hover {
  background-color: #64b5f6;
}

#kv_Amu {
  background-color: #a5d6a7;
}
#kv_Amu:hover {
  background-color: #81c784;
}

#kv_Oly {
  background-color: #b39ddb;
}
#kv_Oly:hover {
  background-color: #9575cd;
}

#kv_All {
  background-color: #eeeeee;
}
#kv_All:hover {
  background-color: #cccccc;
}

#kv_travellOptions {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  color: #333333;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 7px;
}
#kv_travellOptions option {
  background-color: #ffffff;
  color: #333333;
}

.kv_langClass {
  position: absolute;
  bottom: 650px;
  left: 1150px;
}

#kv_langButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  left: 210px;
  top: 2px;
}
#kv_langButton:hover {
  background-color: #0062cc;
}

#kv_lanOptions {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  width: 200px;
}

#kv_lanOptions option {
  padding: 8px;
  font-size: 16px;
}
#kv_lanOptions option:hover {
  background-color: #f0f0f0;
}

#kv_h1 {
  font-size: 2em;
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #0055a4, #ffffff, #ef4135);
  font-family: "Parisienne", cursive;
  font-weight: bold;
}

.kv_transitdifferentOptions {
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
}

/*# sourceMappingURL=google.css.map */
